/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



.product__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 40px;
	padding-top: 30px;
}

.product__images__wrap {
	display: -ms-grid;
	display: grid;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 60%;
	        flex: 0 0 60%;
	gap: 10px;
	-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-template-columns: repeat(5, 1fr);
	-ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-template-rows: repeat(4, 1fr);
	max-height: 678px;
}

.product__images__wrap > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.product__images__wrap > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.product__images__wrap > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.product__images__wrap > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}

.product__images__wrap > *:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 9;
}

.product__images__wrap > *:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.product__images__wrap > *:nth-child(7) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.product__images__wrap > *:nth-child(8) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

.product__images__wrap > *:nth-child(9) {
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}

.product__images__wrap > *:nth-child(10) {
	-ms-grid-row: 3;
	-ms-grid-column: 9;
}

.product__images__wrap > *:nth-child(11) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

.product__images__wrap > *:nth-child(12) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}

.product__images__wrap > *:nth-child(13) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;
}

.product__images__wrap > *:nth-child(14) {
	-ms-grid-row: 5;
	-ms-grid-column: 7;
}

.product__images__wrap > *:nth-child(15) {
	-ms-grid-row: 5;
	-ms-grid-column: 9;
}

.product__images__wrap > *:nth-child(16) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;
}

.product__images__wrap > *:nth-child(17) {
	-ms-grid-row: 7;
	-ms-grid-column: 3;
}

.product__images__wrap > *:nth-child(18) {
	-ms-grid-row: 7;
	-ms-grid-column: 5;
}

.product__images__wrap > *:nth-child(19) {
	-ms-grid-row: 7;
	-ms-grid-column: 7;
}

.product__images__wrap > *:nth-child(20) {
	-ms-grid-row: 7;
	-ms-grid-column: 9;
}


.product__image {
	width: 100%;
	border-radius: 5px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

.product__image_main {
	border-radius: 5px;
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2/6;
	-ms-grid-row: 1;
	-ms-grid-row-span: 4;
	grid-row: 1/5;
}

.product__info__wrap {
	width: 100%;
}

.product__info__title {
	font-size: 28px;
	margin-bottom: 20px;
}

.product__info__article {
	color: #8c8b8b;
}

.product__info__price__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	font-size: 22px;
	margin: 30px 0 20px;
}

.product__info__price {
	font-weight: 600;
}

.product__info__price_new {
	color: #9c120b;
}

.product__info__price_old {
	text-decoration: line-through;
}


.product__info__size__title {
	font-size: 18px;
	width: 50%;
}

.product__info__size__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}

.product__info__size__button {
	display: block;
	width: 100%;
	padding: 3px 0;
	border: 2px #c2c0c0 solid;
	border-radius: 5px;
}

.product__info__size__button:hover {
	color: #fff;
	border: 2px #333 solid;
	background-color: #333;
}

.product__info__add-button {
	display: block;
	width: 100%;
	background-color: #333;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	margin: 20px 0;
}

.product__info__description__title {
	font-weight: 500;
	margin-bottom: 5px;
}

.product__info__description__text {
	font-size: 13px;
}

/* SIZE */
.custom-select {
	position: relative;
	text-align: center;

}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	width: 50%;
	font-size: 1.15rem;
	padding: 10px 0 ;
	background-color: #fff;
	border: 2px solid #b3b3b3;
	border-radius: 0.25rem;
	color: #000;
	cursor: pointer;
}

.custom-select::before,
.custom-select::after {
	--size: 0.3rem;
	content: "";
	position: absolute;
	right: 1rem;
	pointer-events: none;
}

.custom-select::before {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-bottom: var(--size) solid black;
	top: 40%;
}

.custom-select::after {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-top: var(--size) solid black;
	top: 55%;
}

.product__info__size__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.sold-out {
	cursor: default;
	padding: 50px 0;
	font-weight: 700;
	font-size: 40px;
	color: #767676;
}