/dj/
/ecommerce_store/ecommerce_store/__pycache__
/ecommerce_store/accounts/__pycache__
/ecommerce_store/orders/__pycache__
/ecommerce_store/pages/__pycache__
/ecommerce_store/search/__pycache__
/ecommerce_store/store/__pycache__
/ecommerce_store/store/templatetags/__pycache__
/ecommerce_store/cart/__pycache__
