{% load static %}
{% load cart_tag %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'img/assets/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'EZCart_Project\static\css\main_style.css' %}">
    {% block css %}{% endblock %}
    <title>EZCART</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a href="{% url 'home' %}" class="header__logo">
                    <span class="material-icons header__logo__icon" >child_care</span>
                    <span class="header__logo__title">EZCART</span>
                    <span class="material-icons header__logo__icon" >shopping_cart</span>
                </a>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"><a href="{% url 'categories' 'men' %}" class="header__link">Men</a></li>
                        <li class="header__item"><a href="{% url 'categories' 'women' %}" class="header__link">Women</a></li>
                        <li class="header__item"><a href="{% url 'categories' 'kids' %}" class="header__link">Kids</a></li>
                        <li class="header__item"><a href="{% url 'about' %}" class="header__link">About </a></li>
                    </ul>
                </nav>

                    <a href="{% url 'search' %}" class="material-icons header__user__link">search</a>
                    {% if user.is_authenticated %}
                        <p>Welcome, {{ user.username }}</p>
                        <a href="{% url 'logout' %}" class="header__user__link">Logout</a>
                        <a href="{% url 'profile' %}" class="material-icons header__user__link">person</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="header__user__link">Login</a>
                    {% endif %}
                    <div class="header__cart__wrap">
                        <a href="{% url 'cart' %}" class="material-icons header__user__link">shopping_cart</a>
                        <p id="ajax-qty">{{ carts_qty.total_qty }}</p>
                    </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/jquery/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/jquery-ajax.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>
