{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/about_style.css' %}">
{% endblock %}

{% block content %}
    <section class="main_section">
        <div class="container">
            <h2 class="main__title">About Us</h2>
            <div class="about__wrap">
                <p class="about__text">Welcome to EZCART! 🎉 Your one-stop shop for all things sports and outdoor adventure! 🌟 
                    From hiking 🥾 to biking 🚴‍♂️, camping ⛺ to kayaking 🛶, we've got you covered! 
                    With a wink and a smile, our staff make shopping a breeze, so you can focus on the fun! 💫 
                    Say goodbye to hassle and hello to excitement at EZCART! 🌿✨.</p>
                <p class="about__text">
                    Gear up for epic adventures at EZCART! 🌄 
                    Whether you're chasing adrenaline rushes or simply enjoying nature's beauty, we've got the gear to elevate your experience! ⛰️ 
                    With top-notch equipment, apparel, and accessories, we'll have you ready to conquer any terrain! 🏞️ 
                    And the best part? Our seamless checkout process means more time for fun and less time waiting in line! 🎉</p>
                <p class="about__text">
                    At EZCART, we're not just a store – we're a community of outdoor enthusiasts! 🌿 
                    Join us on our mission to explore, discover, and embrace the wonders of the great outdoors! 
                    From expert advice to insider tips, we're here to support you every step of the way! 💪 
                    So, come on in and let's embark on unforgettable adventures together! 🚀</p>
            </div>
        </div>
    </section>
{% endblock %}